<form #form="ngForm" (ngSubmit)="onSubmit(name, username)" *ngIf="active">
  <div class="form-group" [ngClass]="{'has-error': name.invalid && name.touched}">
    <input type="text"
           class="form-control"
           name="name"
           [(ngModel)]="newUser.name"
           #name="ngModel"
           placeholder="Name"
           required>
    <span class="help-block" *ngIf="name.invalid && name.touched">Name is required</span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': username.invalid && username.touched}">
    <input type="text"
           class="form-control"
           name="username"
           [(ngModel)]="newUser.username"
           #username="ngModel"
           placeholder="Username"
           required>
    <span class="help-block" *ngIf="username.invalid && username.touched">Username is required</span>
  </div>
  <button
          type="submit"
          [disabled]="form.invalid"
          class="btn btn-block btn-primary">
    Create a New User
  </button>
</form>
